<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/output.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container w-full mx-auto">
        <div class="text-center py-10">
            <h2 class="text-xl font-bold">Recent File:</h2>
            <% if (locals.link != null) { %> 
                <div class="text-green-700 font-semibold">
                    <a href="<%= locals.link %> " class="leading-relaxed hover:text-green-400"><%= locals.link %></a>
                </div>
            <% } else { %> 
                <div class="text-red-900 font-semibold">
                    <h4 class="leading-relaxed">No recent file</h4>
                </div>
            <% } %> 
        </div>
        <div class="w-full max-w-md mx-auto">
            <form action="/upload" method="post" enctype="multipart/form-data" class="bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label for="file" class="block text-gray-700 text-base font-bold mb-2">File</label>
                    <input type="file" id="file" name="file" required class="block bg-gray-200 leading-relaxed">
                </div>
                
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 text-base font-bold mb-2">Password(Optional)</label>
                    <input type="password" id="password" name="password" class="shadow appearance-none mb-3 py-2 px-3 leading-tight focus:outline-none focus:outline-gray-900 rounded bg-gray-200">
                </div>
        
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Save
                </button>
            </form>
        </div>
    </div>
</body>
</html>
